build/
*.egg-info
__pycache__

.ipynb_checkpoints
__pycache__/
.pytest_cache/
.eggs/
*.egg-info
docs-build/
docs-files/
*.coverage
*.log
.vscode
*.xml
build/
*.DS_Store
*.csv
*.json

output
*.egg-info
.env
secrets.toml
estatisticas/

!databases/**/*.csv
!databases/**/*.json

!personas/**/*.csv
!personas/**/*.json
!personas/**/*.md
!personas/**/*.txt
