build/
*.egg-info
__pycache__

.ipynb_checkpoints
__pycache__/
.pytest_cache/
.eggs/
*.egg-info
docs-build/
docs-files/
*.coverage
*.log
.vscode
*.xml
build/
*.DS_Store
*.csv
*.json
*.pdf

output
*.egg-info
.env
secrets.toml
estatisticas/
data-preprocessing/

!dados/**/*.csv
!dados/**/*.json
!dados/**/*.md
!dados/**/*.txt
*.png

logs/

indexed_files/


notebooks/**/*.html
notebooks/**/*.md
*.zip
